<div class='hero-unit'>
  <h1 class='animated hinge'>Goodbye!</h1>
  <br/>
  <br/>
  <br/>

  <p>Design by <a href='https://github.com/christycui'>Christy Cui</a>. Animation by <a href='http://daneden.me/'>Daniel Eden</a>.</p>
</div>