
<div class='well'>
  <h2 class='animated tada'>Hello, welcome to my blackjack game! </h2>
  <h4>Enter your name below to get started:</h4>

  <form action='/' method='post'>
    <input type='text' name='username'/>
    <input type='submit' class='btn'/>
  </form>

  <img src="https://lh3.ggpht.com/zKR6s9Gaqqa4XYnscTMiaH6o1gM5mlIjueiNwBbSt8hq1dGar7zZRHT9FMWCNwNjvQ=h900"/>
  <p><a href="https://play.google.com/store/apps/details?id=com.sleepwalkers.blackjack">Image Source</a></p>
</div>